<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
    <main>
        <div class="container">

          <h1 style="text-align: center;">News in Business</h1>

            <table class="table">
              <tbody>

                <% let results_size = results.length; let results_counter = 0; %>

                <% for (let q = 0; q < results_size / 4; q++) { %>
                  <tr>
                    <% for(let i = 0; i < 4; i++) {%>
                        <td>
                          <div class="card" style="background-color: #F0EAD6; height: 25rem; margin-bottom: 2 rem">
                            <div class="card-body">
                                <a class="card-title" style="text-align: center; display: block; text-decoration: underline; color: #333;" href="<%= results[results_counter].url %>">
                                    <% 
                                    var truncatedTitle = results[results_counter].title.length > 60 ? results[results_counter].title.substring(0, 60) + '...' : results[results_counter].title;
                                    %>
                                    <%= truncatedTitle %>
                                </a>
                                <img src="<%= results[results_counter].image %>" class="card-img-top" alt="error loading image" style = "height: 17rem; object-fit:cover;">
                                <div style = "text-align: center; padding: .5rem;">
                                  <button type = "button" class = "btn btn-primary" style = "background-color: #333;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-star" viewBox="0 0 16 16">
                                      <path d="M7.84 4.1a.178.178 0 0 1 .32 0l.634 1.285a.178.178 0 0 0 .134.098l1.42.206c.145.021.204.2.098.303L9.42 6.993a.178.178 0 0 0-.051.158l.242 1.414a.178.178 0 0 1-.258.187l-1.27-.668a.178.178 0 0 0-.165 0l-1.27.668a.178.178 0 0 1-.257-.187l.242-1.414a.178.178 0 0 0-.05-.158l-1.03-1.001a.178.178 0 0 1 .098-.303l1.42-.206a.178.178 0 0 0 .134-.098z"/>
                                      <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z"/>
                                    </svg>
                                    Favorite Article
                                  </button>
                                </div>
                            </div>
                          </div>
                        </td>
                      <% results_counter++; } %>
                  </tr>
                <% } %>

              </tbody>
            </table>
        </div>
      </main>
</body>
</html>
<%- include('../partials/footer.ejs') %>
