<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
    <main class="HomePage">
        <div class="homePage">
          <% if (locals.message) { %>
              <div
                class="alert alert-<%- locals.error ? 'danger' : 'success' %>"
                role="alert"
              >
                <%= locals.message %>
          <% } %>
          <div class="homeHeader"> 
          <h>Top Headlines of The Day</h>
          </div> 
          <div id="carouselHome" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <% results.forEach((events, i) => {%>
                  <% if(events.image){%>
                    <div class="carousel-item <%= i == 0 ? 'active': ''%>">
                      <img class="carousel-image" src="<%= events.image%>" onerror="if (this.src != 'error.jpg') this.src = '../images/news.jpg';">
                      <div class="carousel-caption">
                        <h5 class="carouselTitle"><a id="carousellink" href="<%= events.url %>"><%= events.title %> </a></h5>
                        <p id="carouseldate"> <%= events.date %></p>
                      </div>
                    </div>
                    <% }%>
                <% }); %>
              </div>
              <div class="prevButton">
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselHome" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
            </div>
            <div class="nextButton">
              <button class="carousel-control-next" type="button" data-bs-target="#carouselHome" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
              </div>
            </div>
        </div>

        <div class="homeLogo" style="margin:auto; text-align: center;">
          <a class="homePageBusiness" href="/business"><img src="../images/Business.jpg" alt="" style="height: 100px;width: 100px; margin-top: 10px; border: 5px solid black;"> </a>
          <a class="homePageScience" href="/science"><img src="../images/Science.jpg" alt="" style="height: 100px;width: 100px; margin-top: 10px; border: 5px solid black;"> </a>
          <img class="homePageLogo" src="../images/NewsNinjalogo.jpg">
          <a class="homePagePolitics" href="/politics"><img src="../images/politics.jpg" alt="" style="height: 100px;width: 100px; margin-top: 10px; border: 5px solid black;"> </a>
          <a class="homePageSports" href="/sports"><img src="../images/sports.jpg" alt="" style="height: 100px; width: 100px; margin-top: 10px; border: 5px solid black;"> </a>
        </div>

      </main>
</body>
</html>
<%- include('../partials/footer.ejs') %>
