<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
    <main>
        <div class="container">
          <% if (locals.message) { %>
              <div
                class="alert alert-<%- locals.error ? 'danger' : 'success' %>"
                role="alert"
              >
                <%= locals.message %>
              </div>
              <% } %>
              <h1>Your search results:</h1>
            <table class="table">
              <thead>
                <tr>
                    <th scope="row">Title</th>
                  <th scope="row">Date</th>
                  <th scope="row">Image</th>
                </tr>
              </thead>
      
              <tbody>
                <% results.forEach((events) => {%>
                  <tr>
                    <td> <a href = <%= events.url %>><%= events.title %> </a></td>
                    <td> <%= events.date %> </td>
                    <td> <img src = <%= events.image %> height = auto width = 250px> <img></td>
                    
                  </tr>
                <% }); %>
              </tbody>
            </table>
        </div>
      </main>
</body>
</html>
<%- include('../partials/footer.ejs') %>
